.ball {
  position: relative;
  top: 300px;
  height: 50px;
  width: 50px;
  background: red;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes bounce {
  0% {
    top: 300px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 300px;
  }
}

/* + add a tag to cta
+ product page: 1s delay, opacity*/
.cta {
  transition-property: background;
  transition-duration: 2s;
  position: relative;
  display: inline-block;
  left: 200px;
  width: auto;
  padding: 1rem 2rem;
  background: #076871;
  border: 1px white solid;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  color: white;
}

.cta:hover {
  background: #bf0600;
}
