.ball {
  position: relative;
  top: 300px;
  height: 50px;
  width: 50px;
  background: red;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes bounce {
  0% {
    top: 300px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 300px;
  }
}

/* + add a tag to cta in html
+ product page: 1s delay, opacity*/
.cta {
  transition-property: background;
  transition-duration: 2s;
  position: relative;
  display: inline-block;
  left: 200px;
  width: auto;
  padding: 1rem 2rem;
  background: #076871;
  border: 1px white solid;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  color: white;
}

.cta:hover {
  background: #bf0600;
}

/* cta styling from Guitar Kings */

.cta {
  background-color: #bb0000;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.cta:before {
  content: "";
  padding: 10px;
  background: #fff;
  transform: rotate(45deg);
  position: absolute;
  height: 100px;
  top: -40px;
  left: -100px;
  transition: left ease-in-out 1s;
  opacity: 0.3;
}

.cta:hover:before {
  left: 110%;
}

.cta-large {
  padding: 10px 40px;
}

.cta-small {
  padding: 8px 20px;
  font-size: 0.8em;
  grid-column: 2;
  grid-row: 2;
  min-width: 51.2px;
  text-align: center;
  margin-top: 5px;
}
