.ball {
  height: 50px;
  width: 50px;
  background: red;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: 1;
  position: relative;
  top: 300px;
}

@keyframes bounce {
  0% {
    top: 300px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 300px;
  }
}
